<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 以下は、開発用コード -->
  <!-- メインのリポジトリでは、使用しないでください。 -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/0444843589.js" crossorigin="anonymous"></script>

</head>

<body>
  <p class="text-3xl font-bold underline">Hello world!</p>
  <h1 class="bg-gray-300 text-2xl font-bold underline">Hello world!</h1>

  <footer class="text-center p-3 text-gray-500">
    <p>© 2024 E-Commerce-Webapp</p>
  </footer>

  <!-- 以下は、開発用コード -->
  <!-- メインのリポジトリでは、使用しないでください。 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
