<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 以下は、開発用コード -->
    <!-- メインのリポジトリでは、使用しないでください。 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />

    <title>ログイン</title>
  </head>
  <body class="bg-gray-100">
    <div class="mt-20 flex items-center justify-center">
      <div class="container mx-auto">
        <div class="flex justify-center">
          <div class="w-3/4 md:w-1/2 lg:w-1/4">
            <h1 class="mb-2 text-center text-3xl">ログイン</h1>
            <form
              action="#"
              method="post"
              class="space-y-4 rounded-xl border border-gray-200 bg-white p-4 shadow-xl"
            >
              <div>
                <label for="email">メールアドレス</label>
                <input
                  type="email"
                  name="email"
                  class="w-full rounded border border-gray-300 p-2"
                />
              </div>
              <div>
                <label for="password">パスワード</label>
                <input
                  type="password"
                  name="password"
                  class="w-full rounded border border-gray-300 p-2"
                />
              </div>
              <div>
                <input
                  type="checkbox"
                  id="keep_login"
                  name="keep_login"
                  class="rounded"
                />
                <label for="keep_login">ログインしたままにする</label>
              </div>
              <div>
                <button
                  type="submit"
                  class="w-full rounded bg-sky-400 py-3 font-bold text-white hover:bg-sky-500"
                >
                  ログイン
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="flex justify-center">
          <div class="flex flex-col">
            <a
              href="#"
              class="py-2 font-bold text-sky-400 hover:text-orange-400 hover:underline"
              >パスワードを忘れた方</a
            >
            <a
              href="#"
              class="py-2 font-bold text-sky-400 hover:text-orange-400 hover:underline"
              >アカウントを作成する</a
            >
          </div>
        </div>
      </div>
    </div>

    <footer class="p-3 text-center text-gray-500">
      <p>© 2024 Art-SA2</p>
    </footer>

    <!-- 以下は、開発用コード -->
    <!-- メインのリポジトリでは、使用しないでください。 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
