<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 以下は、開発用コード -->
    <!-- メインのリポジトリでは、使用しないでください。 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />

    <title>確認メール送信通知</title>
  </head>
  <body class="bg-gray-100">
    <main>
      <div class="mt-20 flex items-center justify-center">
        <div class="container mx-auto">
          <h1 class="mb-5 text-center text-sm md:text-xl">
            あなたのメールアドレスへ確認メールを送信しました。<br />メールを開いてリンクへアクセスしてください。
          </h1>
        </div>
      </div>
    </main>

    <footer class="p-3 text-center text-gray-500">
      <p>© 2024 Art-SA2</p>
    </footer>

    <!-- 以下は、開発用コード -->
    <!-- メインのリポジトリでは、使用しないでください。 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
