<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 以下は、開発用コード -->
    <!-- メインのリポジトリでは、使用しないでください。 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />

    <title>パスワード再発行</title>
  </head>
  <body class="bg-gray-100">
    <div class="mt-20 flex items-center justify-center">
      <div class="container mx-auto">
        <div class="flex justify-center">
          <div class="mx-7 md:mx-0 md:w-1/4">
            <h1 class="mb-2 text-center text-3xl">パスワード再発行</h1>
            <form
              action="#"
              method="post"
              class="space-y-4 rounded-xl border border-gray-200 bg-white p-4 shadow-xl"
            >
              <p class="text-gray-500">
                入力されたメールアドレスへパスワードの再設定用メールを送信します。
              </p>
              <div>
                <label for="email">メールアドレス</label>
                <input
                  type="email"
                  name="email"
                  class="w-full rounded border border-gray-300 p-2"
                />
              </div>
              <div>
                <button
                  type="submit"
                  class="w-full rounded bg-sky-400 py-3 font-bold text-white hover:bg-sky-500"
                >
                  送信
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="flex justify-center">
          <a href="#" class="py-2 font-bold text-sky-400 underline">ログイン</a>
        </div>
      </div>
    </div>

    <footer class="p-3 text-center text-gray-500">
      <p>© 2024 Art-SA2</p>
    </footer>

    <!-- 以下は、開発用コード -->
    <!-- メインのリポジトリでは、使用しないでください。 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
