<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 以下は、開発用コード -->
    <!-- メインのリポジトリでは、使用しないでください。 -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

    <title>パスワード再発行</title>
</head>
<body class="bg-gray-100">

    <div class="flex items-center justify-center mt-20">
        <div class="container mx-auto">
            <div class="flex justify-center">
                <div class="md:w-3/12">
                    <h1 class="text-3xl text-center mb-2">パスワード再発行</h1>
                    <form action="#" method="post" class="bg-white shadow-xl p-4 border border-gray-200 rounded-xl space-y-4">
                        <p class="text-gray-500">入力されたメールアドレスへパスワードの再設定用メールを送信します。</p>
                        <div>
                            <label for="email">メールアドレス</label>
                            <input type="email" name="email" class="w-full p-2 border border-gray-300 rounded">
                        </div>
                        <div>
                            <button type="submit" class="bg-sky-400 hover:bg-sky-500 text-white font-bold py-3 w-full rounded">送信</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex justify-center">
                <a href="#" class="text-sky-400 font-bold py-2 underline">ログイン</a>
            </div>
        </div>
    </div>

    <footer class="text-center p-3 text-gray-500">
        <p>© 2024 E-Commerce</p>
    </footer>

    <!-- 以下は、開発用コード -->
    <!-- メインのリポジトリでは、使用しないでください。 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
